In [2]:
#Install Apriori package 
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=cb3d0cfab4280970ee9d7e58a423a0f0ea105fb578b4a1197997d24265a422b3
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [3]:
data_url = 'https://raw.githubusercontent.com/nvamsimohan/DallasDSA/main/Market%20Data.csv'

In [4]:
#Loading/importing dataframe processing package 
import pandas as pd

In [5]:
#reading the data file using Pandas read_csv function and storing the data in a variable called df
df = pd.read_csv(data_url)

In [6]:
df

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,grated cheese,herb & pepper,mineral water,soup,eggs,cake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1056,eggs,brownies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1057,shrimp,spaghetti,mineral water,milk,french wine,strong cheese,eggs,light cream,cereals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,shrimp,milk,whole wheat rice,rice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1059,french fries,pancakes,yogurt cake,low fat yogurt,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Importing the association rules
from mlxtend.frequent_patterns import apriori, association_rules

In [9]:
# Converting the dataset to a list and storing it in a variable
transactions = []

for i in range(0,1060):
  transactions.append([str(df.values[i,j]) for j in range(0,20)])

In [ ]:
transactions

In [11]:
# Loading the apriori algorthm from apyori package
from apyori import apriori

In [12]:
# Assigning the associations to a variable called results 
results = apriori(transactions,   min_support = .003, 
                                  min_confidence = .2,
                                  min_lift = 3)

In [13]:
# converting the results set to a dataframe
association_results = pd.DataFrame(results)

In [14]:
# Converting the dataframe to a csv file
association_results.to_csv('Whole food Association Results - July')